$background-dark: #512FFF;
$background-light: #517FFF;
$background-lighter: #AEAEF0;
$background-pale: #518EFF;
$light: #DDDD88;
$darker: #512DA8;

// Page structure
body {
    margin: 0px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-color: $background-light;
}
header {
    margin: 0px;
    padding: 10px 10px 10px 10px;
    color: floralwhite;
    background-color: $background-dark;
}
.navbar-inverse {
    background-color: $darker; 
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    color: floralwhite;
    background-color: $background-dark;
    text-align: center;
}

// Tables
table {
    width: 100%;
    margin-top: 10px;
}
thead {
    color: $darker;
    background-color: $background-lighter;
}
th, td {
    padding: 0px 10px 0px 10px;
}
th.sortable {
    cursor: cell;
}
tbody#content {
    margin-bottom: 90px;
}
tr {
    border-bottom: solid thin black;
}
tr:hover td {
    color: floralwhite;
    background-color: $background-dark;
    cursor: zoom-in;
}
td {
    background-color: floralwhite;
}
td.td-del {
    width: 20px;
    text-align: center;
}

// Divs
div#body {
    margin-bottom: 100px;
}
div#cover {
    text-align: center;
    margin-top: 20px;
}
div.modal-header {
    color: floralwhite;
    background-color: $background-dark;
}
div.form-group {
    height: 1.4em;
}
div.top-spc-row {
    margin-top: 10px;
}
div.cmb-row {
    background-color: $background-lighter;
}
div.tab-row {
    background-color: $background-lighter;
}
div.txt-area {
    margin-bottom: 5px;
}

// Block elements
h1 {
    text-align: left;
}
li {
    padding-right: 20px;
}

// Forms
button {
    cursor: pointer;
}

// Images
img.btn-del {
    border: solid thin black;
}
img.btn-del:hover {
    cursor: pointer;
}

// Inline elements
a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: $light;
    font-weight: bold;
}
a:hover {
    color: floralwhite;
}
a#submit {
    color: floralwhite; 
}